server:
  port: 8080

spring:
  application:
    name: fintrack

  datasource:
    url: jdbc:postgresql://localhost:5440/fintrack_db
    username: fintrack
    password: fintrack
    driver-class-name: org.postgresql.Driver

  jackson:
    property-naming-strategy: SNAKE_CASE

  jpa:
    hibernate:
      ddl-auto: update   # mientras se desarrolla (luego puedes cambiar a validate)
    show-sql: true
    properties:
      hibernate:
        format_sql: true